name: Run Tests

on:
  push:

  pull_request:
    branches:
    - main

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]

    name: Test deepaudiox on ${{ matrix.os }} with Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      run: |
        python -m pip install --upgrade pip
        pip install uv
    - name: Install dependencies
      run: |
        uv pip install --system --dev
    - name: Run all tests
      run: |
        uv pip run pytest tests/ --maxfail=3 --disable-warnings -v
